import streamlit as st
import pandas as pd
import pyalex
from pyalex import Authors, Works
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import requests
import time
import unicodedata
from urllib.parse import quote
from wordcloud import WordCloud
import matplotlib.pyplot as plt
from io import BytesIO  

